

<ul id="messages"></ul>
<div id="app"></div>

<script src="/js/vendor.bundle.js"></script>
<script src="/js/bundle.js"></script>

<form action="">
  <input id="message" autocomplete="off" /><button>Send</button>
</form>
<script src="http://localhost:4000/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:4000');
    // var socket = io();
    var countObj = $('#count');
   socket.on('users',function(data){
        console.log('Got update from the server');
        console.log('There are ' + data.number + 'users');
        countObj.text(data.number);
});
     var message = $('#message');
      $('form').submit(function() {
      $('form').after('<p> 我说 :' + message.val() + '</p>');
        socket.emit('message', { text: message.val()});
        message.val('');
        return false;
      });
      socket.on('push message', function (data) {
        $('form').after('<p> 对方说 :' + data.text + '</p>');
      });
</script>


  
  